.grid{
    width: 100%;
    display: block;
}
.wide{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col{
    padding-left: 12px;
    padding-right: 12px;
}
.l-0{
    display: none;
}
.l-1{
flex-basis: 8.33333%;
width: 8.33333%;
}
.l-2{
  flex-basis: 16.66667%;
  width: 16.66667%;  
}
.l-3{
  flex-basis: 25%;
  width: 25%;  
}
.l-4{
  flex-basis: 33.33333%;
  width: 33.33333%;  
}
.l-5{
  flex-basis: 41.66667%;
  width: 41.66667%;  
}
.l-6{
  flex-basis: 50%;
  width: 50%;  
}
.l-7{
  flex-basis: 58.33333%;
  width: 58.33333%;  
}
.l-8{
  flex-basis:66.66667%;
  width: 66.66667%;  
}
.l-9{
  flex-basis: 75%;
  width: 75%;  
}
.l-10{
  flex-basis: 83.33333%;
  width: 83.33333%;  
}
.l-11{
  flex-basis: 91.66667%;
  width: 91.66667%;  
}
.l-12{
  flex-basis: 100%;
  width: 100%;  
}
